body{
    background-color: #12191b;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #12191b;
  }
  
  .option-button {
    width: 100%; /* Butonların sayfayı yatayda kaplaması */
    padding: 30px;
    margin: 10px;
    font-size: 30px;
    color: #fff;
    background-color: #253135; /* Yeşil arka plan rengi */
    border: none;
    border-radius: 5px; /* Kenar yuvarlaklığı */
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .option-button:hover {
    background-color: #3f5156; /* Hover durumunda arka plan rengini değiştir */
  }

.color1 {color: #12191b;}
.color2 {color: #253135;}
.color3 {color: #3f5156;}
.color4 {color: #5e797f;}
.color5 {color: #85abb1;}